.content-block {
    min-height: 550px;
}

.avatar-img {
    width: 39px;
    height: 39px;
}

.ticket-customer-date {
    text-decoration: underline;
}

blockquote {
    display: none;
}

.mail-message-gmail_quote {
    display: none;
}

.change-responsible {
    font-size: 14px;
}

.status-spiner {
    width: 1.5rem;
    height: 1.5rem;
}

.customer-block {
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: flex-start;
}

.customer-block-abr {
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: space-around
}

.bitrix-user-block-abr {
    width: 38px;
    height: 38px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around
}

.customer-communications {
    font-size: 0.9rem;
}

.nav-link.active {
    border-bottom: 2px solid #007bff;
}

