.content-block {
    min-height: 550px;
}

.avatar-img {
    width: 39px;
    height: 39px;
}

.ticket-customer-date {
    text-decoration: underline;
}

blockquote {
    display: none;
}

.mail-message-gmail_quote {
    display: none;
}